html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: #fff;
	font-family: Helvetica,Arial,sans-serif;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: Helvetica,Arial,sans-serif;
}
body {
	word-break: break-word;
	word-wrap: break-word;
}

.chr-header {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: height .4s;
	transition: height .4s;
	z-index: 100;
	font-size: 1rem;
	line-height: 1.5rem;
}

.cta--hidden .2 {
	-webkit-box-shadow: 0 2px 6px 0 rgba(32,33,37,0.1);
	box-shadow: 0 2px 6px 0 rgba(32,33,37,0.1);
}

.chr-header__wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: background .4s, -webkit-transform .4s;
	transition: background .4s, -webkit-transform .4s;
	transition: transform .4s, background .4s;
	transition: transform .4s, background .4s, -webkit-transform .4s;
}

@media only screen and (min-width: 560px) {
 .chr-header__wrapper {
  -webkit-box-shadow:0 2px 6px 0 rgba(32,33,37,0.1);
  box-shadow:0 2px 6px 0 rgba(32,33,37,0.1);
  z-index:-1
 }
}
	
	.chr-header__wrapper {
	background-color: #fff;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 64px;
	position: relative;
}

.3 {
	margin-left: 0;
	position: relative;
}

.chr-header__logo {
	height: 100%;
}

.chr-header__logo-link {
	border-radius: 4px;
}

.chr-header__logo-link {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 48px;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
	vertical-align: middle;
	font-size: 1.375rem;
	line-height: 2rem;
}

a {
	text-decoration: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

.chr-main {
	margin-top: 64px;
	opacity: 1;
	overflow-x: hidden;
	-webkit-transition: opacity .5s ease-in-out .15s;
	transition: opacity .5s ease-in-out .15s;
}

article, aside, footer, header, nav, section {
	display: block;
}

.chr-homepage-hero {
	background: linear-gradient(15.69deg, #eee8fe 10.16%, rgba(255,255,255,0) 89.84%);
	min-height: calc(85vh - 64px);
	overflow: hidden;
	position: relative;
}

.p {
	padding: 0 38px;
}

.p {
	margin: auto;
	max-width: 1440px;
	padding: 0 28px;
}

@media only screen and (min-width: 600px) {
 .chr-homepage-hero__grid {
  padding-top:103px;
 }
}
@media only screen and (min-width: 1024px) {
 .chr-homepage-hero__grid {
  padding-top:112.33px
 }
}

.chr-homepage-hero__grid {
	padding-top: 43px;
}

.chr-grid-default {
	grid-column-gap: 40px;
	-ms-grid-columns: (1fr)[12];
	grid-template-columns: repeat(12, 1fr);
}

.chr-grid-default {
	display: -ms-grid;
	display: grid;
	grid-column-gap: 28px;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
}

.chr-homepage-hero__text {
	-ms-grid-column: 1;
	-ms-grid-column-span: 12;
	grid-column: 1 / span 12;
}

.chr-homepage-hero__text {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1 / span 4;
	text-align: center;
}

.chr-homepage-hero__heading {
	margin-bottom: 24px;
}

.chr-headline-1 {
	font-size: 3rem;
	line-height: 3.5rem;
	letter-spacing: -.5px;
}

.headline, .chr-headline-1, .chr-headline-2, .chr-headline-3, .chr-headline-4, .chr-headline-5, .chr-headline-6, .chr-fluid-1, .chr-fluid-2 {
	color: #202125;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

.chr-homepage-hero__download {
	margin: 0 auto;
	max-width: 420px;
}

.chr-cta__button{-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:4px 46px 46px 4px;display:-webkit-box;display:-ms-flexbox;display:flex;height:46px;margin-bottom:1px;padding:0 0 0 12px;position:relative;vertical-align:middle;width:100%}
.chr-cta__button{width:100%}
.chr-cta__button{min-width:120px}
.chr-cta__button{border-radius:4px;-webkit-transition:background-color .3s, color .3s;transition:background-color .3s, color .3s}

.chr-cta__button--blue:hover, .chr-cta__button--blue:focus {
	background-color: #4a19d2;
}

.chr-homepage-hero__download button {
	margin-bottom: 8px;
	padding: 12px 24px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

.chr-cta__button--blue {
	background-color: #4a19d2;
}

.chr-cta__button--blue:active {
 background-color: #4118bc
}

.chr-cta__button {
	font-size: 1rem;
	line-height: 1.5rem;
	color: #fff;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	font-weight: 500;
	height: 46px;
	outline: none;
	transition: background-color, color .3s;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
}

button {
	background: none;
	border: none;
}

button, select {
	text-transform: none;
}

button {
	overflow: visible;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button, input, optgroup, select, textarea {
	margin: 0;
}

*, ::before, ::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chr-homepage-hero__simplified {
	text-align: left;
}

.chr-homepage-hero__download.chr-homepage-lpo-download .chr-homepage-hero__simplified .chr-copy--legal {
	font-size: .75rem;
	line-height: 1.125rem;
}

.chr-homepage-lpo-download.chr-homepage-hero__download .chr-copy--legal {
	font-size: .625rem;
	line-height: .875rem;
	color: #5f6368;
	font-family: "Roboto",sans-serif;
}

.chr-homepage-hero__simplified-links {
	font-family: Helvetica,Arial,sans-serif;
	margin: 16px 0 0;
	text-align: center;
}

.chr-homepage-hero__simplified-links a {
	border: none;
	color: #4619d2;
}

.chr-copy--legal {
	font-size: .625rem;
	line-height: .875rem;
	letter-spacing: .2px;
}

@media only screen and (min-width: 600px) {
 .chr-homepage-hero__image {
  -ms-grid-column:1;
  -ms-grid-column-span:12;
  grid-column:1 / span 12
 }
}

@media only screen and (min-width: 1024px) {
 .chr-homepage-hero__image {
  -ms-grid-column:3;
  -ms-grid-column-span:8;
  grid-column:3 / span 8;
  margin-bottom:16px
 }
}

.chr-homepage-hero__image {
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1 / span 4;
	-ms-grid-row: 2;
	grid-row: 2;
	margin-top: 44px;
	position: relative;
	width: 100%;
	z-index: 2;
}

.chr-homepage-hero__image img {
	width: 100%;
}

img {
	border-style: none;
}

.l {
	width: 100%;
}

.l img {
	height: 80px;
	width: 80px;
}
