html{line-height: 1.15;-webkit-text-size-adjust: 100%;}
body{background-color: #fff;font-family: Helvetica,Arial,sans-serif;margin: 0;overflow-x: hidden;padding: 0;}
body{-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;}
body{font-family: Helvetica,Arial,sans-serif;}
body{word-break: break-word;word-wrap: break-word;}
.y{left: 0;position: fixed;right: 0;top: 0;-webkit-transition: height .4s;transition: height .4s;z-index: 100;font-size: 1rem;line-height: 1.5rem;}
.v, .z{background-color: rgba(0,0,0,0.92);}
.aa{margin-left: 0;position: relative;}
.ab{height: 100%;}
.ac{border-radius: 4px;}
.ac{-webkit-box-align: center;-ms-flex-align: center;align-items: center;display: -webkit-box;display: -ms-flexbox;display: flex;height: 48px;padding-top: 0px;padding-right: 16px;padding-bottom: 0px;padding-left: 16px;vertical-align: middle;font-size: 1.375rem;line-height: 2rem;color: rgba(255,255,255,0.92);justify-content: center;}
a{text-decoration: none;}
a{background-color: transparent;-webkit-text-decoration-skip: objects;}
.ad{margin-top: 64px;opacity: 1;overflow-x: hidden;-webkit-transition: opacity .5s ease-in-out .15s;transition: opacity .5s ease-in-out .15s;}
article, aside, footer, header, nav, section{display: block;}
.ae {
	background: linear-gradient(15.69deg, #eee8fe 10.16%, rgba(255,255,255,0) 89.84%);
	min-height: calc(85vh - 64px);
	overflow: hidden;
	position: relative;
}
.p{padding: 0 38px;}
.p{margin: auto;max-width: 1440px;padding: 0 28px;}
@media only screen and (min-width: 600px) {
 .a {
  padding-top:103px;
 }
}
@media only screen and (min-width: 1024px) {
 .a {
  padding-top:112.33px
 }
}
.a{padding-top: 43px;}
.b{grid-column-gap: 40px;-ms-grid-columns: (1fr)[12];grid-template-columns: repeat(12, 1fr);}
.b {
	display: -ms-grid;
	display: grid;
	grid-column-gap: 28px;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
}
.c{-ms-grid-column: 1;-ms-grid-column-span: 12;grid-column: 1 / span 12;}
.c {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1 / span 4;
	text-align: center;
}
.e{margin-bottom: 24px;}
.g{font-size: 3rem;line-height: 3.5rem;letter-spacing: -.5px;}
.g{color: #202125;font-family: Helvetica,Arial,sans-serif;font-weight: normal;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
h1{font-size: 2em;margin: 0.67em 0;}
.h {
	margin: 0 auto;
	max-width: 420px;
}
.j{-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:4px 46px 46px 4px;display:-webkit-box;display:-ms-flexbox;display:flex;height:46px;margin-bottom:1px;padding:0 0 0 12px;position:relative;vertical-align:middle;width:100%}
.j{width:100%}
.j{min-width:120px}
.j{border-radius:4px;-webkit-transition:background-color .3s, color .3s;transition:background-color .3s, color .3s}
.k:hover, .k:focus {
	background-color: #0077ed;
}
.h button {
	margin-bottom: 8px;
	padding: 12px 24px;
}
button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}
.k {
	background-color: #0071e3;
}
.k:active{background-color: #006edb}
.j {
	font-size: 1rem;
	line-height: 1.5rem;
	color: #fff;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	font-weight: 500;
	height: 46px;
	outline: none;
	transition: background-color, color .3s;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
button {
	background: none;
	border: none;
}
button, select {
	text-transform: none;
}
button {
	overflow: visible;
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner{border-style: none;padding: 0;}
button, input, optgroup, select, textarea{margin: 0;}
*, ::before, ::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.h.i .s {
	font-size: .75rem;
	line-height: 1.125rem;
}
.i.h .s{font-size: .625rem;line-height: .875rem;color: #5f6368;font-family: "Roboto",sans-serif;}
.p{font-family: Helvetica,Arial,sans-serif;margin-top: 16px;text-align: center;}
.p a {
	border: none;
	color: #4619d2;}
.s{font-size: .625rem;line-height: .875rem;letter-spacing: .2px;}
@media only screen and (min-width: 600px) {
 .u {
  -ms-grid-column:1;
  -ms-grid-column-span:12;
  grid-column:1 / span 12
 }
}
@media only screen and (min-width: 1024px) {
 .u {
  -ms-grid-column:3;
  -ms-grid-column-span:8;
  grid-column:3 / span 8;
  margin-bottom:16px
 }
}
.u{-ms-grid-column: 1;-ms-grid-column-span: 4;grid-column: 1 / span 4;-ms-grid-row: 2;grid-row: 2;margin-top: 44px;position: relative;width: 100%;z-index: 2;}
.u img{display:none;width:auto}
@media only screen and (min-width: 1024px){.u img{height:100%}}
img{border-style: none;}
.l{width: 100%;}
.l img{height: 80px;width: 80px;}
